{% extends 'admin/app.html' %}

{% block body %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Album Reply</h1>
        </div><!-- /.col -->
        <!-- <div class="col-sm-6">
          <a href="/admin/album_replies/create" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i> Add</a>
        </div> -->
        <!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <table id="example2" class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>User Name</th>
                        <th>Album Name</th>
                        <th>Comments</th>
                        <th>Replies</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, len) %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ album_replies[i].user_name }}</td>
                            <td>{{ album_replies[i].album_name }}</td>
                            <td>{{ album_replies[i].comments }}</td>
                            <td>{{ album_replies[i].replies }}</td>
                            <td>
                                <a href="/admin/album_replies/delete/{{ album_replies[i].id }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}