{% extends 'admin/app.html' %}

{% block body %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Edit Products</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-4 col-sm-12">
            <form action="/admin/products/update/{{ products.id }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name <span class="text-danger">*</span></label>
                    <input type="text" name="name" value="{{ products.name }}" autofocus placeholder="Enter Name" class="form-control form-control-sm" required id="name">
                    {% if session["product_name_error"] %}
                      <span class="text-danger text-sm">{{ session.pop("product_name_error", None) }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="price">Price <span class="text-danger">*</span></label>
                  <input type="number" name="price" value="{{ products.price }}" autofocus placeholder="Enter price" class="form-control form-control-sm" required id="price">
                  {% if session["product_price_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("product_price_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="instock">Instock <span class="text-danger">*</span></label>
                  <input type="number" name="instock" value="{{ products.instock }}" autofocus placeholder="Enter instock" class="form-control form-control-sm" required id="instock">
                  {% if session["product_instock_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("product_instock_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="description">Description <span class="text-danger">*</span></label>
                  <textarea name="description" id="description" class="form-control form-control-sm" placeholder="Enter Description" cols="30" rows="5">{{ products.id }}</textarea>
                  {% if session["product_description_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("product_description_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="image">Image <span class="text-danger">*</span></label>
                  <input type="file" name="images" multiple placeholder="Enter image" class="form-control form-control-sm" id="image">
                  {% if session["news_image_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("news_image_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                    <a href="/admin/products" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Cancel</a>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}