{% extends 'admin/app.html' %}

{% block body %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Add News</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-4 col-sm-12">
            <form action="/admin/news/store" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title <span class="text-danger">*</span></label>
                    <input type="text" name="title" autofocus placeholder="Enter Title" class="form-control form-control-sm" required id="title">
                    {% if session["news_title_error"] %}
                      <span class="text-danger text-sm">{{ session.pop("news_title_error", None) }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="image">Image <span class="text-danger">*</span></label>
                  <input type="file" name="image" placeholder="Enter image" class="form-control form-control-sm" required id="image">
                  {% if session["news_image_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("news_image_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="description">Description <span class="text-danger">*</span></label>
                  <textarea name="description" id="description" class="form-control form-control-sm" placeholder="Enter Description" cols="30" rows="5"></textarea>
                  {% if session["news_description_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("news_description_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                    <a href="/admin/news" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Cancel</a>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}