{% extends 'admin/app.html' %}

{% block body %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Add Tracks</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-4 col-sm-12">
            <form action="/admin/tracks/store" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title <span class="text-danger">*</span></label>
                    <input type="text" name="title" autofocus placeholder="Enter title" class="form-control form-control-sm" required id="title">
                    {% if session["track_title_error"] %}
                      <span class="text-danger text-sm">{{ session.pop("track_title_error", None) }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="author">Author <span class="text-danger">*</span></label>
                  <select name="author" id="author" class="form-control form-control-sm">
                    {% for i in range(0, authors_len) %}
                      <option value="{{ authors[i].id }}">{{ authors[i].name }}</option>
                    {% endfor %}
                  </select>
                  {% if session["track_author_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("track_author_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="album">Album <span class="text-danger">*</span></label>
                  <select name="album" id="album" class="form-control form-control-sm">
                    {% for i in range(0, albums_len) %}
                      <option value="{{ albums[i].id }}">{{ albums[i].name }}</option>
                    {% endfor %}
                  </select>
                  {% if session["track_album_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("track_album_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="audio">Track <span class="text-danger">*</span></label>
                  <input type="file" name="audio" class="form-control form-control-sm" required id="audio">
                  {% if session["track_audio_error"] %}
                    <span class="text-danger text-sm">{{ session.pop("track_audio_error", None) }}</span>
                  {% endif %}
                </div>
                <div class="form-group">
                    <a href="/admin/tracks" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Cancel</a>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}